language: android
jdk:
  - oraclejdk8
  
cache:
  directories:
    - $HOME/.gradle
android:
  components:
    # - build-tools-24.0.2
    - android-24
    - tools
    - tools
    - platform-tools
script:
  - ./gradlew build