language: android
jdk:
  - oraclejdk8
  
cache:
  directories:
    - $HOME/.gradle
android:
  components:
    - tools
    - tools
    - build-tools-24.0.2
    - android-24   
    - platform-tools
  licenses:
    - android-sdk-license-.+
script:
  - ./gradlew build